# Dépendances
node_modules/
/backend/node_modules/
/frontend/node_modules/

# Fichiers de build
dist/
build/
.next/

# Fichiers de logs
*.log
npm-debug.log*

# Fichiers de configuration locaux
.env
.env.local

# Fichiers système
.DS_Store
Thumbs.db
